<h1>Editing Post</h1>
<!-- Edits an existing post. In the event no image is uploaded, the previous image is kept. -->
<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
